logging:
  file:
    name: /tmp/log.log

spring:
  threads:
    virtual:
      enabled: true
  boot:
    admin:
      client:
        username: ${monitoring.user.name}
        password: ${monitoring.user.password}
        instance:
          service-url: http://link-shortener-api-gateway-dev-helm:80
          metadata:
            user.name: ${monitoring.user.name}
            user.password: ${monitoring.user.password}
  cloud:
    gateway:
      server:
        webmvc:
          not-found-on-dispatch-handler:
            enabled: true
          routes:
            - id: kafka_producer_route
              uri: lb://kafka-producer-dev-helm:8080
              order: 1
              predicates:
                - Path=/producer/**
              filters:
                - StripPrefix=1

            - id: kafka_consumer_route
              uri: lb://kafka-consumer-dev-helm:8080
              order: 1
              predicates:
                - Path=/consumer/**
              filters:
                - StripPrefix=1

            - id: user_service_route
              uri: lb://link-shortener-user-service-dev-helm:8080
              order: 1
              predicates:
                - Path=/users/**
              filters:
                - StripPrefix=1

            - id: link_service_route
              uri: lb://link-shortener-link-service-dev-helm:8080
              order: 1
              predicates:
                - Path=/links/**

            - id: dashboard_query_service_route
              uri: lb://link-shortener-dashboard-query-service-dev-helm:8080
              order: 1
              predicates:
                - Path=/dashboard/**

            - id: notification_service_route
              uri: lb://link-shortener-notification-service-dev-helm:8080
              order: 1
              predicates:
                - Path=/notifications/**

            - id: redirect_service_route
              uri: lb://link-shortener-redirect-service-dev-helm:8080
              order: 100
              predicates:
                - Path=/{shortCode}

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: "http://link-shortener-user-service-dev-helm.dev.svc.cluster.local:8080/.well-known/jwks.json"

management:
  tracing:
    sampling:
      probability: 1.0 # Send 100% of traces (reduce this for production, e.g., 0.1)
    otlp:
      tracing:
        endpoint: http://tempo.observability.svc.cluster.local:4318/v1/traces
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS
    env:
      show-values: ALWAYS
    logfile:
      access: read_only
    configprops:
      show-values: ALWAYS